.element__like {
    width: 25px;
    background-repeat: no-repeat;
    background-image: url(../../../images/like.svg);
    margin-top: 20px;
    margin-right: ;
    background-color: transparent;
    border: 0;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__like:active {
    background-image: url(../../../images/Union.png);
}